<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Person Form</title>

    <script th:src="@{/js/config.js}" type="text/javascript"></script>
    <script th:src="@{/js/dCommon.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/dSigXades.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/dSigXadesBp.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/dSigXadesExtender.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/dViewer.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/main.js}" type="text/javascript"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div id="overlay" class="overlay"></div>
<div id="alerts" class="alerts">
    <div th:class="'alert-toast alert-' + ${alert.type}" th:each="alert : ${alerts}">
        <p th:text="${alert.message}"></p>
        <p th:text="${alert.exception}"></p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <h1>Form</h1>
        <form th:action="@{/}" th:object="${person}" method="post">
            <!-- Input fields for person -->
            <div class="form-group">
                <label for="personID">Person ID</label>
                <input class="form-control" type="text" id="personID" name="personID" th:field="*{personID}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('personID')}" th:errors="*{personID}"></div>
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" type="text" id="name" name="name" th:field="*{name}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="age">Age</label>
                <input class="form-control" type="number" id="age" name="age" th:field="*{age}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" id="email" name="email" th:field="*{email}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
            </div>
            <div class="form-group">
                <label for="birthDate">Birth Date</label>
                <input class="form-control" type="date" id="birthDate" name="birthDate" th:field="*{birthDate}"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
            </div>

            <!-- Input fields for child (as a list) -->
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center">
                    <h1>List of Children</h1>
                    <button class="btn btn-success" id="addChild">+</button>
                </div>
                <div id="childrenWrapper">
                    <div class="childRow" th:each="child, iterStat : *{children}" th:id="'child'+${iterStat.index + 1}">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>Child <span th:text="${iterStat.index + 1}"></span></h2>
                            <button class="btn btn-danger" th:id="'removeChild'+${iterStat.index + 1}">x</button>
                        </div>
                        <div class="form-group">
                            <label th:for="'childFirstName_' + ${iterStat.index}">First name</label>
                            <input class="form-control" type="text" th:id="'childFirstName_' + ${iterStat.index}" th:name="'child[' + ${iterStat.index} + '].firstName'" th:field="*{children[__${iterStat.index}__].firstName}"/>
                        </div>
                        <div class="form-group">
                            <label th:for="'childLastName_' + ${iterStat.index}">Last Name</label>
                            <input class="form-control" type="text" th:id="'childLastName_' + ${iterStat.index}" th:name="'child[' + ${iterStat.index} + '].lastName'" th:field="*{children[__${iterStat.index}__].lastName}"/>
                        </div>
                    </div>
                </div>
            </div>

            <button id="submit-form" type="submit" style="display: none;" formaction="/process/save-to-xml">Save to XML</button>

        </form>

        <form id="fileForm" action="/" method="post" enctype="multipart/form-data" onsubmit="selectFileAndSubmit(event)">
            <input type="file" name="file" id="fileInput" style="display:none;"/>
            <button id="submit-validate" style="display: none;" formaction="/process/validate-against-xsd">Validate XML against XSD</button>
            <button id="submit-transform" style="display: none;" formaction="/process/transform-xml-to-html">Transform XML to HTML</button>
            <button id="submit-timestamp" style="display: none;" formaction="/process/timestamp-signature">Timestampt signature</button>
        </form>
    </div>
    <div class="card-footer d-flex">
        <label class="btn btn-primary me-2 w-100" for="submit-form" tabindex="0">Save to XML</label>
        <label class="btn btn-primary me-2 w-100" for="submit-validate" tabindex="0">Validate XML against XSD</label>
        <label class="btn btn-primary me-2 w-100" for="submit-transform" tabindex="0">Transform XML to HTML</label>
        <button class="btn btn-primary me-2 w-100" id="submit-sign" onclick="document.getElementById('sign_xmlFile').click()">Sign</button>
        <label class="btn btn-primary w-100" for="submit-timestamp" tabindex="0">Timestampt signature</label>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', init());
</script>

</body>
<input id="sign_xmlFile" type="file" style="display: none" onchange="readFile(event)" accept=".xml"/>

<textarea style="display: none" id="sign_xsdFile" th:inline="text">[[${xsdFile}]]</textarea>

<textarea style="display: none" id="sign_xslFile" th:inline="text">[[${xslFile}]]</textarea>

<textarea style="display: none" id="sign_pdfFile" th:inline="text">[[${pdfFile}]]</textarea>
</html>